.logo-icon {
    width: 10rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .about,
  .company1 {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
  }
  .company1 {
    align-self: stretch;
    line-height: 1.5rem;
  }
  .about {
    line-height: 1.375rem;
  }
  .about,
  .careers,
  .text {
    align-self: stretch;
  }
  .careers {
    position: relative;
    line-height: 1.375rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #6e727f;
  }
  .facebook-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 1.5rem;
  }
  .company,
  .resources,
  .social-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  .social-icons {
    flex-direction: row;
    padding: 0 0 10.25rem;
  }
  .company,
  .resources {
    flex-direction: column;
  }
  .company {
    flex: 1;
    min-width: 8.188rem;
  }
  .resources {
    align-self: stretch;
  }
  .support1 {
    align-self: stretch;
    position: relative;
    line-height: 1.5rem;
  }
  .company-resources-plans-and,
  .resources-and-support,
  .text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text2 {
    align-self: stretch;
    font-size: 0.875rem;
    color: #6e727f;
  }
  .company-resources-plans-and,
  .resources-and-support {
    flex: 1;
    gap: 2.25rem;
    min-width: 8.188rem;
  }
  .company-resources-plans-and {
    flex-direction: row;
    gap: 0.75rem;
    min-width: 22.25rem;
    max-width: 100%;
  }
  .main-child {
    height: 33.688rem;
    width: 0.063rem;
    position: relative;
    border-right: 1px solid #2c333f;
    box-sizing: border-box;
  }
  .professional-certification {
    position: relative;
    line-height: 1.375rem;
  }
  .footer-child,
  .main {
    width: 75rem;
    max-width: 100%;
  }
  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 3.25rem;
    flex-shrink: 0;
    text-align: left;
    font-size: 1rem;
    color: #afb2bf;
    font-family: Inter;
  }
  .footer-child {
    height: 0.063rem;
    position: relative;
    border-top: 1px solid #2c333f;
    box-sizing: border-box;
  }
  .privacy-policy {
    flex: 1;
    position: relative;
    line-height: 1.375rem;
    display: inline-block;
    min-width: 3.938rem;
  }
  .legal-links {
    height: 0.813rem;
    width: 0.063rem;
    position: relative;
    border-right: 1px solid #2c333f;
    box-sizing: border-box;
  }
  .cookie-policy,
  .terms {
    position: relative;
    line-height: 1.375rem;
    display: inline-block;
  }
  .cookie-policy {
    flex: 1;
    min-width: 3.75rem;
  }
  .terms {
    min-width: 2.75rem;
  }
  .legal {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 34.875rem 0 0;
    box-sizing: border-box;
    gap: 0.475rem;
    max-width: 100%;
  }
  .span {
    color: #ef476f;
  }
  .made-with-container {
    position: relative;
    line-height: 1.375rem;
    display: inline-block;
    max-width: 100%;
  }
  .footer,
  .footer-container {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .footer-container {
    width: 75rem;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.75rem;
    flex-shrink: 0;
  }
  .footer {
    width: 90rem;
    background-color: #161d29;
    border-top: 1px solid #424854;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 3.125rem 1.25rem 3.25rem;
    gap: 2rem;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 0.875rem;
    color: #838894;
    font-family: Inter;
  }
  @media screen and (max-width: 825px) {
    .main-child {
      width: 100%;
      height: 0.063rem;
    }
    .legal {
      flex-wrap: wrap;
      padding-right: 17.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 675px) {
    .company-resources-plans-and {
      flex-wrap: wrap;
    }
    .main {
      gap: 1.625rem;
    }
    .footer {
      gap: 1rem;
    }
  }
  @media screen and (max-width: 450px) {
    .company-resources-plans-and {
      min-width: 100%;
    }
    .legal {
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  